body {
    background-color: #EFF5F5;
    text-align: center;
    font-family: 'merriweather', serif;
    min-height: 100vh;
    min-width: 100vh;
}

h1 {
    color: #EB6440;
    font-family: 'lora', serif;
    font-weight: 700;
    font-size: 4.38rem;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2 {
    font-family: 'merriweather', serif;
    color: #EB6440;
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-family: 'merriweather', serif;
    color: #EB6440;
    font-weight: 400;
    font-size: 2rem;
}

hr {
    border-style: dotted none none none;
    border-width: 8px;
    border-color: rgb(109, 109, 109);
    width: 100px;
    margin: 80px auto;
}

p {
    color: #497174;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    line-height: 2;
}

.md-header {
    font-size: 4rem;
}

.big-header {
    font-size: 7rem;
}

a {
    color: #EB6440;
}

/* navigation */

.navbar {
    padding: 0.5rem 3rem;
}

/* Top container */

.top-container {
    position: relative;
    padding: 5%;
}

.cloud-top {
    position: absolute;
    right: 30%;
    top: 35%;
    width: 10%;
}

.cloud-bottom {
    position: absolute;
    left: 20%;
    bottom: 40%;
    width: 20%;
}

.mountain {
    width: 40%;
}

/* Middle container */

.middle-container {
    background-color: #D6E4E5;
    padding: 8% 5%;
}

/* Profile section */

.profile-photo {
    width: 20%;
    border-radius: 50%;
}

.hello {
    margin: 2% auto;
}

.info {
    width: 60%;
    margin: 0 auto;
}

/* Skill section */

#skills-section hr {
    margin: 3rem auto;
}

.skill-row {
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 2% 20%;
}

.my-skills {
    margin: 5%;
}

.skills {
    margin: 0 auto;
    text-align: center;
}

.design-photo {
    width: 20%;
    border-radius: 50%;
    margin: 3rem 2rem;
}

.photography-photo {
    width: 20%;
    border-radius: 50%;
    margin: 3rem 2rem;
}

/* Contact section */

.contact-me-message {
    margin: 70px auto;
    width: 40rem;
}

.message {
    margin: 2rem;
}

.btn {
    background-color: #EB6440;
    border: #EFF5F5 ;
}

.btn:hover {
    background-color: rgb(255, 137, 104);
}

.bottom-container {
    background-color: #497174;
    padding: 30px;
    margin-top: 150px;
}

.socials {
    justify-content: center;
    margin: 1% auto;
    text-align: center;
}

.icons-container {
    
}


.footer-link {
    color: #EFF5F5;
    transition: 0.2s;
    text-decoration: none;
}

.footer-link:hover {
    color: #EB6440;
}

.copyright {
    color: #D6E4E5;
    margin: 30px auto 0 auto;
    font-family: 'merriweather', serif;
    font-size: 0.80rem;
}


     @media (max-width: 450px) {

        body {
            text-align: center;
        }

        p {
            font-size: 2rem;
        }

        .big-header {
            font-size: 5rem;
        }

        .md-header {
            font-size: 4.5rem;
        }

        /* Navigation section */

        .navbar-custom {
            padding: 3rem;
            
        }

        .logo {
            width: 5rem;
        }

        .navbar-image {
            height: 4rem;
            width: 4rem;
            
        }

        /* Landing section */

        .top-container {
            padding-top: 10rem;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .big-header {
            font-size: 10rem;
        }

        .mountain {
            width: 90%;
        }

        .cloud-top {
            position: absolute;
            right: 20%;
            top: 65%;
            width: 20%;
        }
        
        .cloud-bottom {
            position: absolute;
            left: 20%;
            bottom: 70%;
            width: 30%;
        }

        /* Profile section */

        .info {
            margin: 0 auto;
            text-align: center;
        }

        .profile-photo {
            width: 20rem;
        }

        .middle-container {
            background-color: #D6E4E5;
            padding: 5rem 0;
        }

        .info {
            width: 70%;
        }

        /* skills section */

        .skill-title {
            font-size: 3rem;
            margin: 2rem auto;
        }

        .skills-info {
            width: 100%;
            margin: 0;
        }

        .skill-row {
            text-align: left;
            padding: 0;
        }

        .design-photo {
        width: 20rem;
        border-radius: 0;
        margin: 1rem;
        }

        .photography-photo {
            width: 20rem;
            border-radius: 0;
            margin: 1rem;
        }

        /* Contact section */

        .message {
            width: 50%;
            margin: 2rem auto;
            line-height: 2;
        }

        .contact-me-message {
            margin: 70px auto;
            width: 30rem;
            font-size: 1rem;
        }

        /* Footer section */

        .icons-container {
            text-align: center;
            margin: 0.25rem auto;
        }
        .socials {
            margin: 0 11rem;
        }

    }